* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 150%;
    color: #262626;
    background-color: #FFFFFF;
}

.center {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    width: 700px;
    padding-bottom: 48px;
    margin: 0px auto;
}

h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 3.3em;
    font-style: normal;
    line-height: 120%;
    color: #005449;
    margin: 0.2em 0px 48px;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 3.0em;
    font-style: normal;
    font-weight: 500;
    color: #005449;
    border-bottom: 2px solid #005449;
    padding-bottom: 10px;
    margin: 64px 0px 24px;
}

h3 {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 2.4em;
    font-style: italic;
    font-weight: 600;
    color: #005449;
    margin: 36px 0.0em 12px;
}

h3 span {
    font-size: 1.7rem;
    margin-left: 24px;
}

h4 {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #005449;
    margin-top: 16px;
  }

p {
    margin-bottom: 8px;
}

a:link, a:visited, a:active {
    color: #005449;
    text-decoration: none;
}

a:hover {
    color: #467C6B;
    text-decoration: underline;
}

.tight_h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 1.6em;
    color: #005449;
    margin-top: -54px;
}

.tech {
    margin-top: 18px;
    margin-bottom: 18px;
}

.tech p {
    margin-bottom: 4px;
}

.tech span {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    color: #005449;
}

.devicon {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.svg {
    text-align: center;
    height: 40px;
    width: 40px;
}

.txt {
    color: #005449;
    font-size: 0.83em;
}

.appstore img {
    height: 40px;
    width: 135px;
}

.screenshots, .video {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #005449;
    background-color: #B3CCC9;
    margin: 32px 0px 48px;
    border: solid 1px #005449;
}

.screenshots ::-webkit-scrollbar {
    width: 10px;
}

.screenshots ::-webkit-scrollbar-track {
    background-color: #B3CCC9;
    -webkit-box-shadow: inset 0 0 6px rgba(7,33,28,0.4);
}

.screenshots ::-webkit-scrollbar-thumb {
    background-color: #80AAA4;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(7,33,28,0.2);
    border: 2px solid transparent;
    border-top: 3px solid transparent;
    background-clip: content-box;
}

.screenshots p,
.video p {
    margin: 9px 0px 1px 20px;
}

.screenshots_scroll {
    height: 653px;
    overflow: auto;
    white-space: nowrap;
    padding: 0px 10px 0px 10px;
}

.web_screenshots .screenshots_scroll {
    height: 506px;
}

.screenshots img {
    margin: 10px;
}

.ios_screenshots img {
    height: 609px;
    width: 281px;
}

.mac_screenshots {
    display: inline-block;
    padding: 0px 16px 12px;
    margin-top: -16px;
    margin-bottom: 16px;
}

.web_screenshots img {
    height: 464px;
    width: 559px;
    border: 1px solid #000000;
}

.between_screenshots {
    margin-top: -16px;
}

.video_iframe {
    position: relative;
    padding: 69% 0 0 0;
    margin: 0px 20px 14px;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.homepage {
    display: inline-block;
    background-color: #B3CCC9;
    border: solid 1px #005449;
    padding: 24px;
    margin-top: 32px;
}

.contact {
    padding-bottom: 64px;
}

.contact span {
    margin-left: 8px;
    margin-right: 8px;
}