* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    position: relative;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 150%;
    color: #262626;
    background-color: #FFFFFF;
}

.center {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    width: 700px;
    padding-bottom: 48px;
    margin: 0px auto;
}

h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 3.3em;
    font-style: normal;
    line-height: 120%;
    color: #005449;
    margin: 0.2em 0px 48px;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 3.0em;
    font-style: normal;
    font-weight: 500;
    color: #005449;
    border-bottom: 2px solid #005449;
    padding-bottom: 10px;
    margin: 64px 0px 24px;
}

h3 {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    font-style: italic;
    font-weight: 600;
    color: #005449;
    margin: 32px 0.0em 12px;
}

h3 span {
    font-size: 1.5rem;
    margin-left: 24px;
}

h4 {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #005449;
    margin-top: 16px;
  }

p {
    margin: 0px 0px 8px;
}

a:link, a:visited, a:active {
    color: #005449;
    text-decoration: none;
}

a:hover {
    color: #467C6B;
    text-decoration: underline;
}

.tight_h1 {
    font-family: 'Racing Sans One', cursive;
    font-size: 1.6em;
    color: #005449;
    margin-top: -54px;
}

.tight_h3 {
    margin-top: -0.6em;
}

.devicon {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.svg {
    text-align: center;
    height: 40px;
    width: 40px;
}

.txt {
    color: #005449;
    font-size: 0.83em;
}

p.appstore img {
    height: 40px;
    width: 135px;
}

.screenshots {
    /* float: right; */
    /* width: 356px; */
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #005449;
    background-color: #B3CCC9;
    margin: 32px 0px 48px;
    border: solid 1px #005449;
}

div.screenshots ::-webkit-scrollbar {
    width: 10px;
}

div.screenshots ::-webkit-scrollbar-track {
    background-color: #B3CCC9;
    -webkit-box-shadow: inset 0 0 6px rgba(7,33,28,0.4);
}

div.screenshots ::-webkit-scrollbar-thumb {
    background-color: #80AAA4;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(7,33,28,0.2);
    border: 2px solid transparent;
    border-top: 3px solid transparent;
    background-clip: content-box;
}

div.screenshots p {
    margin: 9px 0px 1px 20px;
}

.screenshots_scroll {
    height: 653px;
    overflow: auto;
    white-space:nowrap;
    padding: 0px 10px 0px 10px;
}

div.screenshots img {
    height: 609px;
    width: 281px;
    margin: 10px;
}

.homepage {
    margin: 32px 0px 48px;
}

.contact {
    padding-bottom: 64px;
}

.contact span {
    margin-left: 8px;
    margin-right: 8px;
}